@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Protest Strike", sans-serif;
}

canvas {
  padding: 0;
  height: auto;
  width: 80%;
  margin: auto;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: whitesmoke;
  padding: 2rem;
  border: 10px solid black;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.7s;
  font-family: "Protest Strike", sans-serif;
  font-size: 2rem;
}

button:hover {
  background-color: white;
}

#battleground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  height: 80%;
  width: 80%;
  display: none;
}

.options {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid black;
  border-radius: 2rem;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem;
  background-color: white;
}

.myPokemon {
  position: absolute;
  top: 5%;
  left: 5%;
  border: 5px solid black;
  border-radius: 2rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem;
  background-color: white;
  font-size: 1.5rem;
}

.enemyPokemon {
  position: absolute;
  top: 5%;
  right: 5%;
  border: 5px solid black;
  border-radius: 2rem;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem;
  background-color: white;
  font-size: 1.5rem;
}

#enemyPokemonImage {
  background-image: url("../img/pokemons/Shadowfang.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 20%;
  right: 10%;
}

#myPokemonImage {
  background-image: url("../img/pokemons/Galewing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 20%;
  left: 10%;
}
