@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Protest Strike", sans-serif;
}

canvas {
  height: auto;
  width: 80%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tackle,
#specialAttack,
#back {
  background-color: white;
  padding: 2rem;
  border: 10px solid black;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.7s;
  font-family: "Protest Strike", sans-serif;
  font-size: 2rem;
}

#tackle:hover,
#specialAttack:hover,
#back:hover {
  background-color: cyan;
}

#battleground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: cyan;
  height: 80%;
  width: 80%;
  display: none;
  flex-direction: column;
}

.options {
  border: 5px solid black;
  border-radius: 2rem;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem;
  background-color: white;
}

.pokemonStats {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.myPokemonStats {
  border: 5px solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem 0;
  background-color: white;
  font-size: 1.5rem;
}

.enemyPokemonStats {
  border: 5px solid black;
  border-radius: 2rem;
  display: flex;
  justify-content: space-evenly;
  padding: 1.25rem 0;
  background-color: white;
  font-size: 1.5rem;
}

#myPokemonName,
#myPokemonHp,
#enemyPokemonName,
#enemyPokemonHp {
  padding: 0 1.25rem;
}

.pokemonImages {
  display: flex;
  justify-content: space-between;
  margin: 0 5rem;
}

#enemyPokemonImage {
  background-image: url("../img/pokemons/Shadowfang.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  width: 500px;
}

#myPokemonImage {
  background-image: url("../img/pokemons/Galewing.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  width: 500px;
}

@media (max-width: 1750px) {
  #tackle,
  #specialAttack,
  #back {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 1400px) {
  #tackle,
  #specialAttack,
  #back {
    padding: 1.25rem;
    font-size: 1.25rem;
    border: 8px solid black;
  }
}

@media (max-width: 1200px) {
  #tackle,
  #specialAttack,
  #back {
    padding: 1rem;
    font-size: 1rem;
    border: 6px solid black;
  }
}

@media (max-width: 1050px) {
  #tackle,
  #specialAttack,
  #back {
    padding: 0.8rem;
    font-size: 0.8rem;
    border: 5px solid black;
  }
}
